.outlet-container {
	height: 90vh;
	overflow-y: scroll;
	padding: 25px 15px;
}
input[type="checkbox"] {
	display: none;
}
.checkbox-replacement {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid rgb(72, 0, 72);
	box-shadow: grey;
	cursor: pointer;
}

.checkbox-replacement::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: rgb(236, 25, 236);
	box-shadow: grey;
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

input:checked ~ .checkbox-replacement::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}
